{{#if success_msg}}
    <div class="section green">
        {{success_msg}}
    </div>
{{/if}}
{{#if error_msg}}
    <div class="red section">
        {{error_msg}}
    </div>
{{/if}}
{{#if error}}
    <div class="red section">
        {{error}}
    </div>
{{else}}
{{/if}}