<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{metaTags.title}}</title>
    <meta name="description" content="{{metaTags.description}}">
    <meta name="keywords" content="{{metaTags.keywords}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="purple">
    {{>_navbar}}
    <div class="container">
        {{>_msg}}
        {{{body}}}
    </div>

    <!--JS AND JQUERY-->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>