<h3 class="light center-align white-text">Entrar</h3>
<div class="section container addform z-depth-2">
    <form action="/usuarios/login" method="POST" autocomplete="off">
        <div class="input-field">
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="input-field">
            <label for="senha">Senha</label>
            <input type="password" name="senha" required>
        </div>
        <div class="center-align">
            <button type="submit" class="btn center-align purple">Entrar</button>
        </div>
    </form>

</div>