<main>
    <div class="card white section">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <span class="new badge black left" data-badge-caption="">{{postagem.categoria.nome}}</span>
        <br>
        <p>Data de publicação : {{postagem.data}}</p>
        <hr>
        <p>
            {{postagem.conteudo}}
        </p>

    </div>
</main>